/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    /* These macros and combos are added based on the user's Vial config,
     * using the user-provided working example as a syntax guide.
     * The keymap below this block remains untouched.
     */

    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            display-name = "Mod-Tap";
            bindings = <&mt>;
        };
    };

    macros {
        macro_a_uml: macro_a_uml {
            compatible = "zmk,behavior-macro";
            label = "MACRO_a_uml";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        macro_o_uml: macro_o_uml {
            compatible = "zmk,behavior-macro";
            label = "MACRO_o_uml";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        macro_u_uml: macro_u_uml {
            compatible = "zmk,behavior-macro";
            label = "MACRO_u_uml";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        macro_U_uml_cap: macro_U_uml_cap {
            compatible = "zmk,behavior-macro";
            label = "MACRO_U_uml_cap";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        macro_euro: macro_euro {
            compatible = "zmk,behavior-macro";
            label = "MACRO_euro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_semicolon {
            timeout-ms = <50>;
            key-positions = <36 37>; /* DOT, COMMA */
            bindings = <&kp SEMI>;
        };

        combo_euro {
            timeout-ms = <50>;
            key-positions = <3 2>; /* F, P */
            bindings = <&macro_euro>;
        };

        combo_a_uml {
            timeout-ms = <50>;
            key-positions = <15 24>; /* A, E */
            bindings = <&macro_a_uml>;
        };

        combo_o_uml {
            timeout-ms = <50>;
            key-positions = <24 26>; /* U, E */
            bindings = <&macro_o_uml>;
        };

        combo_u_uml {
            timeout-ms = <50>;
            key-positions = <10 24>; /* S, E */
            bindings = <&macro_u_uml>;
        };

        combo_U_uml_cap {
            timeout-ms = <50>;
            key-positions = <24 10 23>; /* E, O */
            bindings = <&macro_U_uml_cap>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC        &kp Q             &kp W        &kp F           &kp P           &kp B        &kp LC(C)  &kp PRINTSCREEN  &kp J        &kp L            &kp U            &kp Y        &kp BSPC           &kp DEL
&kp TAB        &mt LEFT_SHIFT A  &mt LCTRL R  &mt LEFT_ALT S  &mt LCMD T      &kp G        &kp LC(V)  &kp HOME         &kp M        &mt RIGHT_GUI N  &mt RIGHT_ALT E  &mt RCTRL I  &mt RIGHT_SHIFT O  &kp SLASH
&kp BACKSLASH  &kp Z             &kp X        &kp C           &kp D           &kp V                                    &kp K        &kp H            &kp COMMA        &kp DOT      &kp SQT            &kp EXCLAMATION
                                              &kp LCTRL       &kp LEFT_SHIFT  &lt 2 SPACE                              &lt 1 ENTER  &mo 2            &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&kp TILDE  &kp AT          &kp HASH         &kp DOLLAR            &kp PERCENT            &kp CARET       &trans  &trans  &kp AMPERSAND  &kp ASTRK        &kp UP_ARROW    &kp N9     &kp N0  &kp BSPC
&kp LCTRL  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none           &trans  &trans  &none          &kp LEFT         &kp DOWN_ARROW  &kp RIGHT  &trans  &trans
&kp LSHFT  &bt BT_CLR      &rgb_ug RGB_TOG  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &studio_unlock                  &none          &none            &none           &trans     &trans  &trans
                                            &trans                &trans                 &kp SPACE                       &trans         &rgb_ug RGB_TOG  &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH         &kp DLLR  &kp PRCNT  &kp LCTRL  &kp K_CALCULATOR  &none         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BACKSPACE    &kp KP_EQUAL
&kp LCTRL  &trans    &trans  &trans           &trans    &trans     &kp LALT   &none             &kp NUMBER_0  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_SUBTRACT
&trans     &trans    &trans  &trans           &trans    &trans                                  &none         &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ASTERISK  &kp KP_DIVIDE
                             &kp LOCKING_NUM  &trans    &kp SPACE                               &kp RET       &kp COMMA        &kp PERIOD
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
